p.info_text {
  background: url("note_bg.gif") no-repeat scroll 1px 6px transparent;
  font-size: 11px;
  margin: 0;
  padding: 0 0 0 13px;
}
.file_data {
	margin-bottom:10px;
}
div.bold {
	font-weight:bold;
	margin-bottom:10px;
}
.file_data table {
	width:500px;
}