<?xml version="1.0"?>
<!-- 
/***************************************************************************
*                                                                          *
*   (c) 2004 Vladimir V. Kalynyak, Alexey V. Vinokurov, Ilya M. Shalnev    *
*                                                                          *
* This  is  commercial  software,  only  users  who have purchased a valid *
* license  and  accept  to the terms of the  License Agreement can install *
* and use this program.                                                    *
*                                                                          *
****************************************************************************
* PLEASE READ THE FULL TEXT  OF THE SOFTWARE  LICENSE   AGREEMENT  IN  THE *
* "copyright.txt" FILE PROVIDED WITH THIS DISTRIBUTION PACKAGE.            *
****************************************************************************/ -->
<config>
    <tabs>
        <simtech translate="label" module="searchanise">
            <label>searchanise</label>
            <sort_order>200</sort_order>
        </simtech>
    </tabs>
    <sections>
        <searchanise translate="label" module="searchanise">
            <label>Settings</label>
            <tab>simtech</tab>
            <sort_order>990</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups> 
                <config translate="label" module="searchanise">
                    <label>Configuration Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <search_input_selector translate="labe commentl">
                            <label><![CDATA[Search input jQuery selector]]></label>
                            <comment><![CDATA[Important: Edit only if your custom theme changes the default search input ID!]]></comment>
                            <frontend_type>text</frontend_type>
                            <validate></validate>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </search_input_selector>
                        <!-- Hided the "Sync Init Method" option -->
                        <!-- 
                            <type_async translate="label comment">
                            <label><![CDATA[Sync Init Method]]></label>
                            <comment><![CDATA[
                                <strong>Cron</strong>. If cron service is set up and running, it is recommended to use this option. Database synchronization will be initialized according to the cron schedule.<br>
                                <strong>AJAX</strong>. Select this option if you want the database synchronization to be initialized everytime a page is visited in the customer area.
                            ]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>searchanise/system_config_source_searchanise_typeAsync</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </type_async> 
                        -->
                        <enabled_searchanise_search translate="labe comment">
                            <label><![CDATA[Use Searchanise for full-text search]]></label>
                            <comment><![CDATA[Disable in case of invalid search operation.<br>The instant search widget will <strong>remain active</strong>.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled_searchanise_search>
                        <sync_mode translate="label comment">
                            <label><![CDATA[Sync catalog]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>searchanise/system_config_source_searchanise_sync_modes</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sync_mode>
                    </fields>
                </config>
            </groups>
        </searchanise>
    </sections>
</config>
