<config>
    <modules>
        <Silk_Catalog>
            <version>0.1.0</version>
        </Silk_Catalog>
    </modules>
    <global>
        <helpers>
            <silk_catalog>
                <class>Silk_Catalog_Helper</class>
            </silk_catalog>
        </helpers>
        <models>
            <silk_catalog>
                <class>Silk_Catalog_Model</class>
            </silk_catalog>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Silk_Catalog_Model_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_item>Silk_Catalog_Model_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_price>Silk_Catalog_Model_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>Silk_Catalog_Model_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <silk_catalog>
                <use>standard</use>
                <args>
                    <module>Silk_Catalog</module>
                    <frontName>Catalog</frontName>
                </args>
            </silk_catalog>
        </routers>
    </frontend>
</config>