<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Inup_SocialConnect>
            <version>0.0.1</version>
        </Inup_SocialConnect>
    </modules>
    <default>
        <customer>
            <inup_socialconnect_weibo>
                <enabled>0</enabled>
            </inup_socialconnect_weibo>
            <inup_socialconnect_qq>
                <enabled>0</enabled>
            </inup_socialconnect_qq>
            <inup_socialconnect_wechat_web>
                <enabled>0</enabled>
            </inup_socialconnect_wechat_web>
            <inup_socialconnect_wechat_qr>
                <enabled>0</enabled>
            </inup_socialconnect_wechat_qr>
        </customer>
    </default>
    <frontend>
        <translate>
            <modules>
                <Inup_SocialConnect>
                    <files>
                        <default>Inup_SocialConnect.csv</default>
                    </files>
                </Inup_SocialConnect>
            </modules>
        </translate>
        <layout>
            <updates>
                <inup_socialconnect>
                    <file>inup_socialconnect.xml</file>
                </inup_socialconnect>
            </updates>
        </layout>
        <routers>
            <inup_socialconnect>
                <use>standard</use>
                <args>
                    <module>Inup_SocialConnect</module>
                    <frontName>socialconnect</frontName>
                </args>
            </inup_socialconnect>
        </routers>
    </frontend>
    <global>
        <models>
            <inup_socialconnect>
                <class>Inup_SocialConnect_Model</class>
            </inup_socialconnect>
        </models>
        <blocks>
            <inup_socialconnect>
                <class>Inup_SocialConnect_Block</class>
            </inup_socialconnect>
        </blocks>
        <helpers>
            <inup_socialconnect>
                <class>Inup_SocialConnect_Helper</class>
            </inup_socialconnect>
        </helpers>
        <resources>
            <inup_socialconnect_setup>
                <setup>
                    <module>Inup_SocialConnect</module>
                    <class>Inup_SocialConnect_Model_Resource_Setup</class>
                </setup>
            </inup_socialconnect_setup>
        </resources>
    </global>
</config>
