<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <customer>
            <groups>
                <inup_socialconnect_weibo translate="label" module="inup_socialconnect">
                    <label>Social Connect Weibo Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>140</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <client_id translate="label" module="inup_socialconnect">
                            <label>App Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>required-entry</validate>
                        </client_id>
                        <client_secret translate="label" module="inup_socialconnect">
                            <label>App Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>required-entry</validate>
                        </client_secret>
                        <links translate="label" module="inup_socialconnect">
                            <label>Links</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>inup_socialconnect/weibo_adminhtml_system_config_form_field_links
                            </frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </links>
                        <origin translate="label" module="inup_socialconnect">
                            <label>Website</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>inup_socialconnect/weibo_adminhtml_system_config_form_field_origins
                            </frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin>
                        <redirect translate="label" module="inup_socialconnect">
                            <label>Callback URL</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>inup_socialconnect/weibo_adminhtml_system_config_form_field_redirects
                            </frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirect>
                    </fields>
                </inup_socialconnect_weibo>
                <inup_socialconnect_qq translate="label" module="inup_socialconnect">
                    <label>Social Connect QQ Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>150</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <client_id translate="label" module="inup_socialconnect">
                            <label>App ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>required-entry</validate>
                        </client_id>
                        <client_secret translate="label" module="inup_socialconnect">
                            <label>App Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>required-entry</validate>
                        </client_secret>
                        <links translate="label" module="inup_socialconnect">
                            <label>Links</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>inup_socialconnect/qq_adminhtml_system_config_form_field_links
                            </frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </links>
                        <origin translate="label" module="inup_socialconnect">
                            <label>Website URL</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>inup_socialconnect/qq_adminhtml_system_config_form_field_origins
                            </frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin>
                        <redirect translate="label" module="inup_socialconnect">
                            <label>OAuth 2.0 Redirect URLs</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>inup_socialconnect/qq_adminhtml_system_config_form_field_redirects
                            </frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirect>
                    </fields>
                </inup_socialconnect_qq>
                <inup_socialconnect_wechat_web translate="label" module="inup_socialconnect">
                    <label>Social Connect Wechat(web auth) Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>150</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <client_id translate="label" module="inup_socialconnect">
                            <label>App ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>required-entry</validate>
                        </client_id>
                        <client_secret translate="label" module="inup_socialconnect">
                            <label>App Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>required-entry</validate>
                        </client_secret>
                        <links translate="label" module="inup_socialconnect">
                            <label>Links</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>inup_socialconnect/wechat_web_adminhtml_system_config_form_field_links
                            </frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </links>
                        <origin translate="label" module="inup_socialconnect">
                            <label>Website URL</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>inup_socialconnect/wechat_web_adminhtml_system_config_form_field_origins
                            </frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin>
                        <redirect translate="label" module="inup_socialconnect">
                            <label>OAuth 2.0 Redirect URLs</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>inup_socialconnect/wechat_web_adminhtml_system_config_form_field_redirects
                            </frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirect>
                    </fields>
                </inup_socialconnect_wechat_web>
                <inup_socialconnect_wechat_qr translate="label" module="inup_socialconnect">
                    <label>Social Connect Wechat(QR Login) Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>150</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <client_id translate="label" module="inup_socialconnect">
                            <label>App ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>required-entry</validate>
                        </client_id>
                        <client_secret translate="label" module="inup_socialconnect">
                            <label>App Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>required-entry</validate>
                        </client_secret>
                        <links translate="label" module="inup_socialconnect">
                            <label>Links</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>inup_socialconnect/wechat_qr_adminhtml_system_config_form_field_links
                            </frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </links>
                        <origin translate="label" module="inup_socialconnect">
                            <label>Website URL</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>inup_socialconnect/wechat_qr_adminhtml_system_config_form_field_origins
                            </frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin>
                        <redirect translate="label" module="inup_socialconnect">
                            <label>OAuth 2.0 Redirect URLs</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>inup_socialconnect/wechat_qr_adminhtml_system_config_form_field_redirects
                            </frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirect>
                    </fields>
                </inup_socialconnect_wechat_qr>
            </groups>
        </customer>
    </sections>
</config>
