<?xml version="1.0"?>
<config>
    <modules>
        <Silk_Xreview>
            <version>0.1.0</version>
        </Silk_Xreview>
    </modules>
    <frontend>
        <routers>
            <xreview>
                <use>standard</use>
                <args>
                    <module>Silk_Xreview</module>
                    <frontName>xreview</frontName>
                </args>
            </xreview>
        </routers>
        <layout>
            <updates>
                <xreview>
                    <file>xreview.xml</file>
                </xreview>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <xreview>
                <use>admin</use>
                <args>
                    <module>Silk_Xreview</module>
                    <frontName>xreview</frontName>
                </args>
            </xreview>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Silk_Xreview before="Mage_Adminhtml">Silk_Xreview_Adminhtml</Silk_Xreview>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <rewrite>
            <silk_xreview_product>
                <from><![CDATA[#^/review/product/#]]></from>
                <to>/xreview/product/</to>
            </silk_xreview_product>
        </rewrite>
        <models>
            <xreview>
                <class>Silk_Xreview_Model</class>
                <resourceModel>xreview_mysql4</resourceModel>
            </xreview>
            <xreview_mysql4>
                <class>Silk_Xreview_Model_Mysql4</class>
                <entities>
                    <image>
                        <table>review_image</table>
                    </image>
                </entities>
            </xreview_mysql4>
        </models>
        <resources>
            <sk_xreview_setup>
                <setup>
                    <module>Silk_Xreview</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sk_xreview_setup>
            <sk_xreview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sk_xreview_read>
            <sk_xreview_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sk_xreview_write>
        </resources>
        <blocks>
            <xreview>
                <class>Silk_Xreview_Block</class>
            </xreview>
            <review>
                <rewrite>
                    <product_view_list>Silk_Xreview_Block_Product_View_List</product_view_list>
                </rewrite>
            </review>
        </blocks>
        <helpers>
            <xreview>
                <class>Silk_Xreview_Helper</class>
            </xreview>
        </helpers>
    </global>
</config>