<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Silk_CustomLinkedProducts>
            <version>1.0.0</version>
        </Silk_CustomLinkedProducts>
    </modules>
    <global>
        <blocks>
            <silk_customlinkedproducts>
                <class>Silk_CustomLinkedProducts_Block</class>
            </silk_customlinkedproducts>
        </blocks>
        <helpers>
            <silk_customlinkedproducts>
                <class>Silk_CustomLinkedProducts_Helper</class>
            </silk_customlinkedproducts>
        </helpers>
        <models>
            <silk_customlinkedproducts>
                <class>Silk_CustomLinkedProducts_Model</class>
            </silk_customlinkedproducts>
            <catalog>
                <rewrite>
                    <product>Silk_CustomLinkedProducts_Model_Catalog_Product</product>
                    <product_link>Silk_CustomLinkedProducts_Model_Catalog_Product_Link</product_link>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <silk_customlinkedproducts_setup>
                <setup>
                    <module>Silk_CustomLinkedProducts</module>
                    <class>Silk_CustomLinkedProducts_Model_Resource_Setup</class>
                </setup>
            </silk_customlinkedproducts_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <silk_customlinkedproducts before="Mage_Adminhtml">Silk_CustomLinkedProducts_Adminhtml</silk_customlinkedproducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <silk_customlinkedproducts>
                    <file>silk_customlinkedproducts.xml</file>
                </silk_customlinkedproducts>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <silk_customlinkedproducts>
                    <file>silk_customlinkedproducts.xml</file>
                </silk_customlinkedproducts>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <silk_customlinkedproducts_catalog_product_prepare_save>
                        <class>silk_customlinkedproducts/observer</class>
                        <method>catalogProductPrepareSave</method>
                    </silk_customlinkedproducts_catalog_product_prepare_save>
                </observers>
            </catalog_product_prepare_save>
            <catalog_model_product_duplicate>
                <observers>
                    <silk_customlinkedproducts_catalog_product_prepare_save>
                        <class>silk_customlinkedproducts/observer</class>
                        <method>catalogModelProductDuplicate</method>
                    </silk_customlinkedproducts_catalog_product_prepare_save>
                </observers>
            </catalog_model_product_duplicate>
        </events>
    </adminhtml>
</config>
