<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Silk_Autocomplete>
            <version>1.0.0</version>
        </Silk_Autocomplete>
    </modules>
    <global>
        <blocks>
            <silk_autocomplete>
                <class>Silk_Autocomplete_Block</class>
            </silk_autocomplete>
        </blocks>
        <helpers>
            <silk_autocomplete>
                <class>Silk_Autocomplete_Helper</class>
            </silk_autocomplete>
        </helpers>
        <models>
            <silk_autocomplete>
                <class>Silk_Autocomplete_Model</class>
            </silk_autocomplete>
        </models>
        <events>
            <silk_autocomplete_product_collection_init>
                <observers>
                    <silk_autocomplete>
                        <class>silk_autocomplete/observer</class>
                        <method>onProductCollectionInit</method>
                    </silk_autocomplete>
                </observers>
            </silk_autocomplete_product_collection_init>
        </events>
    </global>
    <frontend>
        <routers>
            <silk_autocomplete>
                <use>standard</use>
                <args>
                    <module>Silk_Autocomplete</module>
                    <frontName>autocomplete</frontName>
                </args>
            </silk_autocomplete>
        </routers>
        <layout>
            <updates>
                <silk_autocomplete>
                    <file>silk/autocomplete.xml</file>
                </silk_autocomplete>
            </updates>
        </layout>
        <translate>
            <modules>
                <Silk_Autocomplete>
                    <files>
                        <default>Silk_Autocomplete.csv</default>
                    </files>
                </Silk_Autocomplete>
            </modules>
        </translate>
    </frontend>
    <default>
        <silk_autocomplete>
            <general>
                <enable>1</enable>
                <limit>5</limit>
                <min_length>1</min_length>
                <cache_lifetime>86400</cache_lifetime>
                <use_local_storage>1</use_local_storage>
                <enable_jquery>1</enable_jquery>
            </general>
        </silk_autocomplete>
    </default>
</config>