div.inup-socialconnect-register,
div.inup-socialconnect-checkout,
div.inup-socialconnect-login {
    margin-top: 28px;
}

div.inup-socialconnect-login .content {
    min-height: 100px;
}

div.inup-socialconnect-register .fieldset {
    margin: 0px;
}
div.inup-socialconnect-account {
    width: 100%;
}
div.inup-socialconnect-account .col1-set,
div.inup-socialconnect-account .col2-set,
div.inup-socialconnect-account .col3-set {
    width: 100%;
}

div.inup-socialconnect-account .col1-set div {
    float: left;
    width: 100%;
}
div.inup-socialconnect-account .col2-set div {
    float: left;
    width: 50%;
}
div.inup-socialconnect-account .col3-set div {
    float: left;
    width: 33.333333%;
}