<?xml version="1.0"?>
<!--
/**
 * WEB4PRO - Creating profitable online stores
 * 
 * @author WEB4PRO <srepin@corp.web4pro.com.ua>
 * @category  WEB4PRO
 * @package   Web4pro_Attachments
 * @copyright Copyright (c) 2015 WEB4PRO (http://www.web4pro.net)
 * @license   http://www.web4pro.net/license.txt
 */
-->
<config>
    <modules>
        <Web4pro_Attachments>
            <version>1.0.0</version>
        </Web4pro_Attachments>
    </modules>
    <global>
        <resources>
            <web4pro_attachments_setup>
                <setup>
                    <module>Web4pro_Attachments</module>
                    <class>Web4pro_Attachments_Model_Resource_Setup</class>
                </setup>
            </web4pro_attachments_setup>
        </resources>
        <blocks>
            <web4pro_attachments>
                <class>Web4pro_Attachments_Block</class>
            </web4pro_attachments>
        </blocks>
        <helpers>
            <web4pro_attachments>
                <class>Web4pro_Attachments_Helper</class>
            </web4pro_attachments>
        </helpers>
        <models>
            <web4pro_attachments>
                <class>Web4pro_Attachments_Model</class>
                <resourceModel>web4pro_attachments_resource</resourceModel>
            </web4pro_attachments>
            <web4pro_attachments_resource>
                <class>Web4pro_Attachments_Model_Resource</class>
                <entities>
                    <attachment>
                        <table>web4pro_attachments_attachment</table>
                    </attachment>
                    <attachment_product>
                        <table>web4pro_attachments_attachment_product</table>
                    </attachment_product>
                </entities>
            </web4pro_attachments_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <web4pro_attachments>
                    <file>web4pro_attachments.xml</file>
                </web4pro_attachments>
            </updates>
        </layout>
        <translate>
            <modules>
                <Web4pro_Attachments>
                    <files>
                        <default>Web4pro_Attachments.csv</default>
                    </files>
                </Web4pro_Attachments>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <web4pro_attachments_attachment_product>
                        <type>singleton</type>
                        <class>web4pro_attachments/adminhtml_observer</class>
                        <method>addProductAttachmentBlock</method>
                    </web4pro_attachments_attachment_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <!--add event to upload by denson-->
           <!--<catalog_product_prepare_save>-->
                <!--<observers>-->
                    <!--<web4pro_attachments_prepare_save_product_observers>-->
                        <!--<type>singleton</type>-->
                        <!--<class>web4pro_attachments/observer</class>-->
                        <!--<method>uploadFile</method>-->
                    <!--</web4pro_attachments_prepare_save_product_observers>-->
                <!--</observers>-->
            <!--</catalog_product_prepare_save>-->
            <!--end-->
            <catalog_product_save_after>
                <observers>
                    <web4pro_attachments_attachment_product>
                        <type>singleton</type>
                        <class>web4pro_attachments/adminhtml_observer</class>
                        <method>saveProductAttachmentData</method>
                    </web4pro_attachments_attachment_product>
                </observers>
            </catalog_product_save_after>
        </events>
        <global_search>
            <attachment>
                <class>web4pro_attachments/adminhtml_search_attachment</class>
                <acl>web4pro_attachments</acl>
            </attachment>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Web4pro_Attachments before="Mage_Adminhtml">Web4pro_Attachments_Adminhtml</Web4pro_Attachments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <web4pro_attachments>
                <use>standard</use>
                <args>
                    <module>Web4pro_Attachments</module>
                    <frontName>web4pro_attachments</frontName>
                </args>
            </web4pro_attachments>
        </routers>
        <layout>
            <updates>
                <web4pro_attachments>
                    <file>web4pro_attachments.xml</file>
                </web4pro_attachments>
            </updates>
        </layout>
        <translate>
            <modules>
                <Web4pro_Attachments>
                    <files>
                        <default>Web4pro_Attachments.csv</default>
                    </files>
                </Web4pro_Attachments>
            </modules>
        </translate>
    </frontend>
    <default>
        <web4pro_attachments>
            <attachment>
                <breadcrumbs>1</breadcrumbs>
            </attachment>
        </web4pro_attachments>
    </default>
</config>
