<?xml version="1.0"?>
<config>
  <modules>
    <Sandipan_Productfileupload>
      <version>0.1.0</version>
    </Sandipan_Productfileupload>
  </modules>
  <global>
    <helpers>
      <productfileupload>
        <class>Sandipan_Productfileupload_Helper</class>
      </productfileupload>
    </helpers>
	<blocks>
	  <productfileupload>
		<class>Sandipan_Productfileupload_Block</class>
	  </productfileupload>
	</blocks>
	<models>
		<productfileupload>
			<class>Sandipan_Productfileupload_Model</class>
			<resourceModel>productfileupload_mysql4</resourceModel>
		</productfileupload>
		<productfileupload_mysql4>
			<class>Sandipan_Productfileupload_Model_Mysql4</class>
			<entities>
				<productfileupload>
					<table>productfileupload</table>
				</productfileupload>
			</entities>
		</productfileupload_mysql4>
	</models>
	<resources>
	  <productfileupload_setup>
		<setup>
		  <module>Sandipan_Productfileupload</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </productfileupload_setup>
	  <productfileupload_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </productfileupload_write>
	  <productfileupload_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </productfileupload_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <productfileupload>
	    <use>admin</use>
		<args>
		  <module>Sandipan_Productfileupload</module>
		  <frontName>productfileupload</frontName>
		</args>
	  </productfileupload>
	</routers>
  </admin>
	<frontend>
		<layout>
			<updates>
				<productfileupload>
				  <file>productfileupload.xml</file>
				</productfileupload>
			</updates>
		</layout>
	</frontend>
  <adminhtml>
    <events>
	  <catalog_product_save_after> <!-- identifier of the event we want to catch -->
        <observers>
          <catalog_product_save_after_handler> <!-- identifier of the event handler -->
            <type>singleton</type> <!-- class method call type; valid are model, object and singleton -->
            <class>productfileupload/observer</class> <!-- observers class alias -->
            <method>saveProductTabData</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </catalog_product_save_after_handler>
        </observers>
      </catalog_product_save_after>
    </events>
	<layout>
	  <updates>
		<productfileupload>
		  <file>productfileupload.xml</file>
		</productfileupload>
	  </updates>
	</layout>
  </adminhtml>
  <default>
        <product_additional_files_general>
            <product_additional_files_info>
                <jquery_enable>1</jquery_enable>
            </product_additional_files_info>
        </product_additional_files_general>
    </default>
</config> 