<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <cdr_config translate="label">
            <label>CDR</label>
            <sort_order>1</sort_order>
        </cdr_config>    
    </tabs>
    <sections>
        <ordercomment translate="label" module="ordercomment">
            <label>Order Comment</label>
            <tab>cdr_config</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enable Order Comment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <commentheader translate="label">
                            <label>Comment Box Header</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </commentheader>
                        <limit translate="label">
                            <label>Character Limit</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Leave blank for no limit]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </limit>
                        <grid translate="label">
                            <label>Show Order Comment on Order Grid</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                        </grid>
                    </fields>                    
                </settings>
            </groups>
        </ordercomment>
    </sections>
</config>